.category-image img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    transition: .4s;
}

.category-title {
    font-family: 'Jost', sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #313D4D;
    text-decoration: none;
    display: inline-block;

}