/*==========>> buttons styles */
.regular-btn {
  text-decoration: none;
  display: inline-block;
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  background-color: #FD8311;
  padding: 8px 20px;
  transition: .4s;
}

.regular-btn:hover {
  background-color: #313D4D;
  color: #ffffff;
}

.footer-btn {
  text-decoration: none;
  display: inline-block;
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #FD8311;
  padding: 6px 22px;
  transition: .4s;
  border: 1px solid #FD8311;
  border-radius: 0;
  height: 50px;
  margin-left: 10px;
}

.footer-btn:hover {
  background-color: #313D4D;
  color: #ffffff;
  border: 1px solid #ffffff;
}


/* loader design start */
.loader {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 50px !important;
  height: 50px !important;
}

/* loader design end */
/* typography start */
.section_heading {
  font-family: 'Jost', sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #313D4D;
}
.title{
  text-align: center;
}

.title h3 {
  font-family: 'Jost', sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #313D4D;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.title h3::after {
  width: 60%;
  height: 4px;
  background: #313D4D;
  position: absolute;
  bottom: -6px;
  left: 50%;
  content: '';
  transform: translateX(-50%);
}

/* typography end */
/* dashboard layout style start */
.dash_navbar {
  background-color: #fff;
  padding: 20px 30px;
}

.dash-navbar-items {
  list-style: none;
  margin-top: 30px;

}

.dash-navbar-items li a {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Jost', sans-serif;
  display: inline-block;
  text-decoration: none;
  color: #484F56;
  margin-bottom: 24px;
  transition: .4s;
  background: #fff;
  padding: 10px 30px;
  text-align: center;
  border-radius: 5px;
}

.dash-navbar-items li a:hover {
  color: #ffffff;
  background: #484F56;
}

.dash-navbar-items li .active {
  color: #ffffff;
  background: #484F56;
}

/* table headers and data */
.table-headers th {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Jost', sans-serif;
  color: #313D4D;
}

.table-data td {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Jost', sans-serif;
  color: #484F56;
}

/* table headers and data */
/* icons  */
.trash-icons {
  border: none;
  background: transparent;
}

.trash-icons svg {
  font-size: 18px;
  color: #313D4D;
}

.faTimes {
  border: none;
  display: block;
  margin-left: auto;
  margin-bottom: 20px;
}

/* icons  */
/* book now form design */

.book_now_form {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.myOrder-image {
  width: 60px;
  height: 60px;
}

.row_btn {
  background: #313D4D;
  color: #fff;
  padding: 5px 20px;
  border: none;

}

.row_btn a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  transition: .4s;
}

.row_btn a:hover {
  color: #fff;

}



@media (max-width: 575px) {
  .title h3 {
    font-family: 'Jost', sans-serif;
    font-size: 24px;

  }
}
/* responsive start */
@media only screen and (max-width: 767.98px) {
  .regular-btn {
    font-size: 18px;

  }
}

/* responsive end */