/*==========>> buttons styles */
.regular-btn {
  text-decoration: none;
  display: inline-block;
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  background-color: #FD8311;
  padding: 8px 20px;
  transition: .4s;
}

.regular-btn:hover {
  background-color: #313D4D;
  color: #ffffff;
}

.footer-btn {
  text-decoration: none;
  display: inline-block;
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #FD8311;
  padding: 6px 22px;
  transition: .4s;
  border: 1px solid #FD8311;
  border-radius: 20px;
}

.footer-btn:hover {
  background-color: #313D4D;
  color: #ffffff;
  border: 1px solid #ffffff;
}


/* loader design start */
.loader {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 50px !important;
  height: 50px !important;
}

/* loader design end */
/* typography start */
.section_heading {
  font-family: 'Jost', sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #313D4D;
}

/* typography end */
/* dashboard layout style start */
.dash_navbar {
  background-color: #fff;
  padding: 20px 30px;
}

.dash-navbar-items {
  list-style: none;

}

.dash-navbar-items li a {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Jost', sans-serif;
  display: inline-block;
  text-decoration: none;
  color: #484F56;
  margin-top: 24px;
  transition: .4s;
}
.dash-navbar-items li a:hover{
  color: #FD8311;
}
.dash-navbar-items li a .active{
  color: #FD8311;
}
/* dashboard layout style end */
/* responsive start */
@media only screen and (max-width: 767.98px) {
  .regular-btn {
    font-size: 18px;

  }
}

/* responsive end */