/*==========>> buttons styles */
.regular-btn {
  text-decoration: none;
  display: inline-block;
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  background-color: #FD8311;
  padding: 6px 20px;
  transition: .4s;
}

.regular-btn:hover {
  background-color: #313D4D;
  color: #ffffff;
}



.footer-btn {
  text-decoration: none;
  display: inline-block;
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #FD8311;
  padding: 6px 22px;
  transition: .4s;
  border: 1px solid #FD8311;
  border-radius: 20px;
}

.footer-btn:hover {
  background-color: #313D4D;
  color: #ffffff;
  border: 1px solid #ffffff;
}